@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}
.container {
  width: 80%;
  margin: 0 auto;
}

.box {
  width: 400px;
  height: 250px;
  /* background-color: salmon; */
  background-color: #0000002c;
  border-radius: 30px;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  backdrop-filter: blur(400px);
}

.box:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.box__button {
  height: 80px;
  width: 80px;
  border-radius: 20px;
  background-color: salmon;
  margin: 0 .8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}

.box__button:hover {
  cursor: pointer;
}

.box h2{
  text-align: center;
  color: #E4E4E4;
  padding: 1rem 0;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.box h3 {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  color: greenyellow;
  text-transform: uppercase;
}
#game__board {
  height: 100vh;
  /* background: linear-gradient(129.03deg, #130d58 -6.35%, #343cc6 136.81%); */
  background: url("./images/bg2.jpg") no-repeat;
  background-position: center;
  background-size: cover;

}

.game__header h1{
  font-weight: 600;
  font-size: 36px;
  color: #E4E4E4;
  text-align: center;
  padding: 2rem 0;

}

/* winner__count */
.winner__count {
  display: flex;
  justify-content: space-around ;
  align-items: center;
  color: #E4E4E4;
  }

  /* game__info */
  .game__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
  }

  .icons__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }

  /* winner__card */
  .winner__card {
    padding: .5rem;
    border-radius: 10px;
    background-color: rgba(214, 25, 98, 0.808);
  }
  .winner__card p{
    color: white
  }


  /* Responsive Media Queries */

  @media screen and (max-width: 1024px) {
    body {
      font-size: 14px;
    }

    .box {
      width: 320px;
      margin-left:  1rem;
      margin-right:  1rem;
    }
    .box__button  {
      width: 70px;
      height: 70px;
      padding: .4rem;
    }
  }
  @media only screen and (max-width: 767.98px) {
   body {
     font-size: 12px;
   }
    .box {
      width: 350px;
      height: 220px;
    }

    .game__info {
      flex-direction: column;
      margin-top: 0;
      /* justify-content: space-between;
      align-items: center;
      margin-top: 5rem; */
    }
    #game__board {
      height: auto;
      padding-bottom: 1rem;
    }
  }

  @media only screen and (max-width: 424px) {
    body {
      font-size: 8px;
    }

      .box {
      width: 300px;
      height: 220px;
    }
    .box__button {
      height: 65px;
      width: 65px;
      padding: .3rem;
    }
  }